SERVER = 'http://api.cn.faceplusplus.com/'
# uncomment the following line to switch to US server
# SERVER = 'http://api.us.faceplusplus.com/'

API_KEY = 'b97123484923bc1f773a207a0e8a6130'
API_SECRET = 'qW0-llMev0ab5TeYEirSar9iv3LwlyOQ'
